## Questions

In [1]:
#How many Kates are there in California by year?

In [ ]:
SELECT COUNT(name),year from name_freq where name='Kate' GROUP BY year;

In [3]:
#Which year had the most Kates born in California?

In [ ]:
SELECT COUNT(name),year from name_freq where name='Kate' GROUP BY year ORDER BY COUNT(name) DESC

 count | year 
-------+------
    50 | 2004
    47 | 2005
    47 | 2006
    47 | 2008
    47 | 2007
    46 | 1982
    45 | 2012
    45 | 2011
    45 | 2003

In [12]:
#What is the most popular boy's name in the South in 2000?

In [ ]:
SELECT COUNT(name),name FROM name_freq_region WHERE region='South'and gender='M' GROUP BY name ORDER BY COUNT(name) DESC;

count |      name      
-------+----------------
  2112 | Mark
  2112 | Timothy
  2112 | Robert
  2112 | Kenneth
  2112 | Anthony
  2112 | Christopher
  2112 | Daniel

In [13]:
#What is the most popular girl's name in the South in 2000?

In [ ]:
SELECT COUNT(name),name FROM name_freq_region WHERE region='South'and gender='F' GROUP BY name ORDER BY COUNT(name) DESC;

count |      name      
-------+----------------
  2112 | Elizabeth
  2112 | Victoria
  2112 | Sarah
  2112 | Katherine
  2108 | Julia
  2106 | Maria
  2104 | Anna

In [14]:
#Which state has the greatest number of different names in 2000?

In [ ]:
SELECT COUNT(DISTINCT name),state FROM name_freq_region GROUP BY state ORDER BY COUNT(DISTINCT name) DESC;

count | state 
-------+-------
 18855 | CA
 15924 | TX
 13741 | NY
 10812 | FL
 10373 | IL
  8897 | GA

In [7]:
#Which region has the greatest number of different names in 2000?

In [ ]:
SELECT COUNT(DISTINCT name),region FROM name_freq_region GROUP BY region ORDER BY COUNT(DISTINCT name) DESC;
 

 count |    region    
-------+--------------
 19343 | South
 19074 | Pacific
 15119 | Mid_Atlantic
 12607 | Midwest
  8237 |
  6961 | Mountain
  5077 | New_England
  1631 | New England
(8 rows)

In [15]:
#How many children were born in each state between 2000 and 2010? Treat "Between" as inclusive.

In [ ]:
SELECT COUNT(freq),state from name_freq where year BETWEEN 2000 AND 2010 GROUP BY state;

count | state 
-------+-------
  4709 | AK
 17583 | AL
 12979 | AR
 24392 | AZ
 74741 | CA
 19798 | CO

In [1]:
#Which state doesn't have a region associated with it? Hint: you can find a list of distinct states by looking at

In [ ]:
SELECT state,COUNT(DISTINCT region) FROM name_freq_region GROUP BY state ORDER BY COUNT(DISTINCT region) ASC

state | count 
-------+-------
 MI    |     0
 AL    |     1
 AR    |     1
 AZ    |     1
 CA    |     1

In [19]:
#Rank the most popular androgynous names in 2000 (i.e. names that were given to both males and females)?

In [ ]:
SELECT name,freq from name_freq WHERE year=2000  ORDER BY freq ASC;

      name       | freq 
-----------------+------
 Margaux         |    5
 Marcia          |    5
 Manal           |    5
 Mallori         |    5
 Maleah          |    5

In [ ]:
## Challenge: There are quite a few popular names such as Emily that have a bulk of either male or female. Can you modify this query to calculate the absolute % difference between males and females, and then return those with the smallest difference (i.e. the most 'balanced' androgynous names).

## Advanced - window functions

In [20]:
#Which state has the highest % of John's in a 2000?

select type, variety, price
from fruits
where (
   select count(*) from fruits as f
   where f.type = fruits.type and f.price <= fruits.price
) <= 2;

In [21]:
#For each region, what is the most popular name for boys in 2010?